*{
box-sizing:border-box;
}


body{

margin:0;
font-family:"Segoe UI",Arial,sans-serif;

}



.app{

display:flex;
min-height:100vh;

}


/* SIDEBAR */

.sidebar{

width:270px;
background:#075985;

min-height:100vh;

padding:25px;

color:white;

flex-shrink:0;

}



.brand{

display:flex;

align-items:center;

gap:15px;

margin-bottom:30px;

}


.brand img{

width:70px;
height:70px;

background:white;

border-radius:15px;

padding:8px;

object-fit:contain;

}


.brand h2{

margin:0;

font-size:28px;

}


.brand span{

font-size:14px;

}



/* USER */

.profile{

background:rgba(255,255,255,.15);

padding:15px;

border-radius:15px;

margin-bottom:25px;

}




.sidebar a{

display:block;

color:white;

text-decoration:none;

padding:14px;

border-radius:10px;

margin-bottom:10px;

background:rgba(255,255,255,.08);

}


.sidebar a:hover{

background:white;

color:#075985;

}




.sidebar button{

width:100%;

margin-top:40px;

padding:12px;

border:0;

border-radius:10px;

background:#ef4444;

color:white;

font-size:16px;

}




.main{

flex:1;

background:#f1f5f9;

padding:30px;

}



.top{

background:white;

padding:25px;

border-radius:15px;

margin-bottom:25px;

}


.top h1{

margin:0;

}